.polls{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-column-gap: 20px;
    margin-top: 20px;
}

@media screen and (max-width:724px){
    .polls{
        display: grid;
       grid-template-columns:auto;
    }
}